<main class="w-full h-screen">
  <div class="w-full h-[450px] relative">
    <div class="absolute inset-0 bg-black/30"></div>

    <p
      class="absolute inset-0 flex items-center justify-center text-white text-3xl font-bold z-10 text-center w-full px-4 whitespace-normal"
    >
      {{ displayedText }}
    </p>

    <img class="w-full h-full object-cover" src="assets/logoo.avif" alt="" />

    <div class="relative top-10 px-12 hidden lg:block">
      <h1 class="text-center text-red-600 text-xl md:text-2xl lg:text-3xl">
        Explore cultures worldwide
      </h1>

      <div
        class="hidden md:flex absolute left-4 md:left-14 top-1/2 transform -translate-y-1/2 bg-white text-[#252563] shadow-md w-8 h-8 md:w-10 md:h-10 justify-center items-center rounded-full cursor-pointer hover:bg-gray-700 transition z-10"
      >
        ❮
      </div>

      <div
        class="flex flex-wrap justify-center md:justify-between gap-4 mt-6 md:mt-10"
      >
        <div
          class="group h-[280px] w-[90%] sm:w-[280px] max-w-sm bg-white border-transparent rounded-t-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 overflow-hidden relative"
          *ngFor="let slider of sliderData"
        >
          <div
            class="absolute top-3 left-3 right-3 flex justify-between items-center"
          >
            <div
              class="bg-[#3f82cf] text-white text-sm px-3 flex justify-center items-center h-7 md:h-8 py-1 rounded-lg shadow-md"
            >
              <p class="m-0">Country</p>
            </div>
            <div
              class="bg-white w-7 h-7 md:w-8 md:h-8 rounded-full flex justify-center items-center shadow-md cursor-pointer"
            >
              <fa-icon
                class="text-md md:text-lg text-[#252563]"
                [icon]="faHeart"
              ></fa-icon>
            </div>
          </div>

          <div class="overflow-hidden h-[160px] md:h-[180px] w-full">
            <img
              class="rounded-t-lg w-full h-full object-cover transition-transform duration-300 group-hover:scale-110"
              src="{{ slider.url }}"
              alt="product image"
            />
          </div>

          <div class="py-3 px-2">
            <h5
              class="text-lg md:text-xl font-semibold text-gray-900 dark:text-white"
            >
              {{ slider.text }}
            </h5>
            <div class="flex gap-2 items-center">
              <fa-icon [icon]="faLocation"></fa-icon>
              <p class="text-gray-600 text-sm md:text-base">
                {{ slider.location }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="hidden md:flex absolute right-4 md:right-14 top-1/2 transform -translate-y-1/2 bg-white text-[#252563] shadow-md w-8 h-8 md:w-10 md:h-10 justify-center items-center rounded-full cursor-pointer hover:bg-gray-700 transition z-10"
      >
        ❯
      </div>
    </div>
  </div>
</main>

<div class="hidden lg:flex justify-center mt-80">
  <button
    class="px-4 py-3 bg-[#f48436] text-white p-3 rounded font-bold hover:bg-[#e3732f] hover:shadow-lg transition-all"
  >
    Find out More
  </button>
</div>
